.position {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center
}

#screen {
    margin-left: 10px;
    margin-right: 10px;
    filter: drop-shadow(0 0 50mm rgb(365, 365, 365)) 
}

#loginview {
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: flex-end;
}

#logButton {
    height: 100%;
    width: 150px;
    line-height: 23px;
    box-sizing: border-box;
    margin: 5px;
    padding: 1px;
    z-index: 1;
    background: #404040;
    border-radius: 10px;
    cursor: pointer;
}

#nameButton {
    width: auto;
    text-align: end;
    line-height: 23px;
    box-sizing: border-box;
    margin: 5px;
    margin-right: 10px;
    padding: 1px;
    z-index: 1;
    font-size: 22px;
    cursor: pointer;
}

.overlay {
    position: absolute; 
    left: calc(100vh -10%);
    top: 4%;
    background-color: white;
    width: 253px;
    z-index: 2;
    border-radius: 15px;
    padding: 10px;
}

.botonSelect {
    display: flex;
    justify-content: space-evenly;
}

.inputsDivs {
    color: black;
    display: flex;
    flex-direction: column;
    text-align: left;
}

#myButton {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
    color: white;
}

.MovieContentDisplay{
    margin-right: 10px;
    margin-left: 10px;
    background-color: black;
    filter: drop-shadow(0 0 50mm rgb(365, 365, 365)) 
}

#seatDisplayment {
    height: 99.6%;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: (4, 1fr);
}

@media (max-width: 500px) {
    #seatDisplayment {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: (8, 1fr);
    }    
}